@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 99.9%);
  --foreground: hsl(0, 0%, 9%);
  --orange: hsl(32, 100%, 51%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--orange);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilites {
  .form-field {
    @apply outline-1 outline-gray-600 px-3 py-4 h-fit;
  }
}
p {
  @apply leading-8 text-base;
}
/* styling for links */
a {
  @apply w-fit;
}
.link-ghost {
  @apply text-orange-400 hover:text-orange-500 capitalize;
}
.active-ghost-link {
  @apply text-orange-600 underline underline-offset-8;
}
.filled {
  @apply capitalize bg-orange-500 text-orange-100 hover:bg-orange-600 px-5 py-4;
}
.outlined {
  @apply outline-1 outline-orange-400 text-orange-400;
}
.fill-on-hover {
}
.outline-on-hover {
}
